*, ::after, ::before, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: black;
  color: white;
}

.containerr {
  position: relative;
}

@font-face {
  font-family: "D-DIN";
  src: url(../fonts/D-DIN.otf);
}
@font-face {
  font-family: "Clear-sans";
  src: url(../fonts/20930.ttf);
}
body {
  font-family: "Clear-sans";
  font-weight: 500;
}

.header {
  font-size: 1.7rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-style: normal;
}

.section {
  color: white;
  text-align: left;
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.section__title {
  position: absolute;
  bottom: 15%;
  left: 10rem;
  width: 30%;
}
@media (max-width: 900px) {
  .section__title {
    width: 20%;
  }
}
@media (max-width: 600px) {
  .section__title {
    width: 80%;
    bottom: 10%;
    left: 5rem;
  }
}
.section__h4 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  text-shadow: 0 0 2px #555;
}
@media (max-width: 600px) {
  .section__h4 {
    font-size: 12px;
  }
}
.section__h2 {
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.8rem;
  line-height: 0.9;
  margin-bottom: 3rem;
  text-shadow: 0 0 2px #555;
}
@media (max-width: 600px) {
  .section__h2 {
    font-size: 30px;
  }
}
.section__button {
  position: relative;
  display: inline-block;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.section__button:link, .section__button:visited {
  color: white;
  border: 2px solid #fff;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  padding: 2rem 3rem;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .section__button:link, .section__button:visited {
    padding: 15px 30px;
    font-size: 10px;
  }
}
.section__button:hover {
  color: black !important;
  background-color: transparent;
}
.section__button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.section__button:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  background: white;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.link {
  position: relative;
}
.link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
.link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.welcome {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome__title h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 10rem;
}
.welcome__title h3 {
  text-align: center;
  font-size: 2rem;
}

.stats {
  text-align: center;
}
.stats__content {
  width: 90%;
  height: auto;
  margin: 3rem auto;
  margin-bottom: 15rem;
  max-width: 96rem;
  display: inline-block;
  text-align: center;
  position: relative;
}
.stats__stat {
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1%;
  height: auto;
  display: inline-block;
  padding: 0;
}
.stats__number {
  display: block;
  font-size: 14rem;
}
@media (max-width: 600px) {
  .stats__number {
    font-size: 10rem;
  }
}
.stats__label {
  display: block;
  font-size: 2.2rem;
}
@media (max-width: 600px) {
  .stats__label {
    font-size: 1.5rem;
  }
}

.about {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.about__h4 {
  display: inline-block;
  font-size: 2rem;
  line-height: 4rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  width: 40%;
}
@media (max-width: 900px) {
  .about__h4 {
    width: 50%;
    line-height: 2;
  }
}
@media (max-width: 600px) {
  .about__h4 {
    left: 7%;
    width: 60%;
    line-height: 2;
  }
}

.engines {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.engines__title {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(0, -50%);
}
.engines__h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 600px) {
  .engines__h3 {
    margin-bottom: 0.1rem;
  }
}
.engines__h2 {
  font-size: 4.6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 600px) {
  .engines__h2 {
    margin-bottom: 0.3rem;
  }
}
.engines__p {
  width: 48rem;
  line-height: 1.6;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
@media (max-width: 900px) {
  .engines__p {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .engines__p {
    width: 55%;
    line-height: 1.2;
  }
}
.engines__table {
  border-color: grey;
  width: 90%;
}
@media (max-width: 900px) {
  .engines__table {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .engines__table {
    width: 50%;
  }
}
.engines__tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.engines__tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-bottom: 0.1rem grey solid;
}
.engines__td:first-child {
  font-size: 1.4rem;
  text-align: left;
}
.engines__td {
  text-align: right;
  padding: 2rem 0;
  font-size: 1.6rem;
}

.feature {
  margin: 7.5rem auto;
  margin-left: 3rem;
}
.feature__img {
  width: 40vw;
  height: auto;
}
@media (max-width: 900px) {
  .feature__img {
    width: 80vw;
  }
}
.feature__content {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  gap: 10rem;
  align-items: center;
}
@media (max-width: 1240px) {
  .feature__content {
    gap: 5rem;
  }
}
@media (max-width: 900px) {
  .feature__content {
    flex-direction: column;
  }
}
.feature__title {
  text-align: left;
  display: inline-block;
  width: 40%;
}
@media (max-width: 1240px) {
  .feature__title {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .feature__title {
    width: 90%;
  }
}
.feature__h2 {
  display: inline-block;
  font-size: 5.3rem;
  margin-bottom: 5rem;
}
@media (max-width: 900px) {
  .feature__h2 {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .feature__h2 {
    width: 100%;
    font-size: 5rem;
  }
}
.feature__p {
  display: inline-block;
  width: 80%;
  font-size: 1.7rem;
}
@media (max-width: 900px) {
  .feature__p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .feature__p {
    width: 90%;
  }
}

.carousel-item img {
  margin: 0 auto;
  width: 88vw;
  height: auto;
}

.carousel-caption h5 {
  font-size: 2rem;
  text-shadow: 0 0 2px #555;
}

.carousel-inner {
  position: relative;
}

.hamburger-menu {
  display: none;
}
@media (max-width: 900px) {
  .hamburger-menu {
    display: flex;
  }
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 23px;
  right: 23px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1000;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  text-align: center;
  top: 0;
  left: 200%;
  width: 100vw;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  z-index: 999;
}

.menu__logo {
  margin-top: 2.3rem;
  margin-bottom: 5rem;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: -0.5rem;
  left: 2rem;
}
@media (max-width: 900px) {
  .header {
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.header__logo {
  font-size: 4.5rem;
  z-index: 9999;
}
@media (max-width: 900px) {
  .header__logo {
    display: inline-block !important;
  }
}
.header__nav {
  display: flex;
  align-content: center;
  padding-top: 30px;
}
.header__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item {
  display: inline-block;
  margin: 0 3rem;
}
@media (max-width: 900px) {
  .header__item {
    margin: 0;
  }
}
.header__item:first-child {
  margin-right: 20rem;
  margin-left: 8rem;
}
@media (max-width: 1100px) {
  .header__item:first-child {
    margin-right: 5rem;
  }
}
@media (max-width: 900px) {
  .header__item:first-child {
    margin: 0;
  }
}
.header__link {
  text-transform: none;
}
.header__link:link, .header__link:visited {
  color: white;
  text-decoration: none;
}
@media (max-width: 900px) {
  .header__link {
    display: none;
  }
}

.footer {
  margin: 0 auto;
  text-align: center;
  background: black;
  padding: 2rem 0;
}
.footer p {
  margin: 2rem 0;
}
.footer span {
  color: grey;
  margin: 0 2rem;
}
.footer a {
  font-size: 1.2rem;
  color: white;
  margin: 0 2rem;
}
.footer a:link, .footer a:visited {
  text-decoration: none;
}

.section-1 {
  background-image: url(../img/home/background-1.webp);
}

.section-2 {
  background-image: url(../img/home/background-2.webp);
}

.section-3 {
  background-image: url(../img/home/background-3.webp);
}

.section-4 {
  background-image: url(../img/home/background-4.webp);
}

.section-star-1 {
  background-image: url(../img/starship/background-5.webp);
}

.starship-about {
  position: relative;
  background: black;
  height: 100%;
  display: flex;
  padding: 8rem;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .starship-about {
    padding: 5rem;
  }
}
@media (max-width: 600px) {
  .starship-about {
    flex-direction: column;
  }
}
.starship-about__text-column {
  width: 45%;
}
@media (max-width: 900px) {
  .starship-about__text-column {
    width: 100%;
  }
}
.starship-about__text-column p {
  color: white;
  margin: 1.5rem;
  line-height: 1.6;
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  .starship-about__text-column p {
    font-size: 2rem;
  }
}

.starship-history {
  background-image: url(../img/starship/sh-history.webp);
}

.raptor-about {
  background-image: url(../img/starship/raptor-about.webp);
}

.welcome-fh {
  background-image: url(../img/fh/fh-welcome.webp);
}

.fh-about {
  background-image: url(../img/fh/fh-about.webp);
}

.merlin-about {
  background-image: url(../img/fh/fh-engine.webp);
}

@media (max-width: 1100px) {
  .fh-feature {
    word-break: break-all;
  }
}
@media (max-width: 900px) {
  .fh-feature {
    word-break: normal;
  }
}
@media (max-width: 600px) {
  .fh-feature {
    word-break: break-all;
  }
}

.welcome-dragon {
  background-image: url(../img/dragon/dragon-welcome.webp);
}

.about-dragon {
  background-image: url(../img/dragon/about-dragon.webp);
}

.about-draco {
  background-image: url(../img/dragon/about-draco.webp);
}

.feature-dragon {
  flex-direction: row-reverse;
}
@media (max-width: 900px) {
  .feature-dragon {
    flex-direction: column;
  }
}

.welcome-f9 {
  background-image: url(../img/f9/f9-welcome.webp);
}

.fh-about {
  background-image: url(../img/f9/f9-about.webp);
}

.merlin-about {
  background-image: url(../img/fh/fh-engine.webp);
}/*# sourceMappingURL=style.css.map */